html, body { color: #434242; font-family: 'Roboto', sans-serif !important; height: 100%; }
body { background: #F3EFE0; font-size: 20px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Roboto', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #3399FF; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 32px; text-align: center;}

p.lead { text-align: center; color: #000000; }
p.lead2 { text-align: center; color: #FFFFFF; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

.project-referal { margin-top: 40px; }
.project-referal p { font-style: italic; color: #999999; }

.btn-primary { background-color: #0D47A1; border-color: #0D47A1; }
.btn-primary:hover { background-color: #0D47A1;  border-color: #0D47A1; }

/* Resume Btn Styling */
.btn-min-block { min-width: 170px; line-height: 26px;}
.btn-clear { color: #FFF; background-color: transparent; border-color: #FFF; margin-right: 15px; }
.btn-clear:hover { color: #000; background-color: #FFF; }


.background-darkgray { background: #222222; }
.background-gray { background: #434242; }
.background-blue { background: #0D47A1; }

.icon { display: inline-block; background: url(images/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; }

.image-center { text-align: center; }
.text-center { text-align:center; }

.standard-table{
	width: 100%;
	align: middle;


}

.standard-td{
	width: 33%;
}


.jumbotron {
	background: no-repeat center right fixed url(images/bg1.png);
    background-image: url('../images/bg1.png');
    width:100%;
    height:100%;

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/wallpaper2.png', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/wallpaper2.png', sizingMethod='scale');

	margin-bottom: 0px;
	padding: 0px;
}
/*.jumbotron:before {
	border: 1px solid #FFFFFF;
	bottom: 30px;
	content: "";
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
}*/
.jumbotron .overlay { background-color: #0D47A1; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.30; filter:alpha(opacity=30); z-index: 2; }

.jumbotron .container { position: relative; top: 39%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; }
.jumbotron .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.jumbotron .container .lead { font-size: 50px; }
.jumbotron .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: #222222; text-align: center; z-index: 6; }
.jumbotron .scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron .scroll-down:hover .glyphicon { padding-top: 25px; }


.jumbotron2 {
	background: no-repeat center right fixed url(images/bg1.png);
    background-image: url('../images/bg1.png');
    width:100%;
    height:100%;

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/wallpaper2.png', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/wallpaper2.png', sizingMethod='scale');

	margin-bottom: 0px;
	padding: 0px;
}
/*.jumbotron:before {
	border: 1px solid #FFFFFF;
	bottom: 30px;
	content: "";
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
}*/
.jumbotron2 .overlay { background-color: #0D47A1; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.30; filter:alpha(opacity=30); z-index: 2; }

.jumbotron2 .container { position: relative; top: 39%; z-index: 4; text-align: center; }
.jumbotron2 .container > * { text-align: center; color: #FFFFFF; }
.jumbotron2 .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.jumbotron2 .container .lead { font-size: 50px; }
.jumbotron2 .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: #222222; text-align: center; z-index: 6; }
.jumbotron2 .scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron2 .scroll-down:hover .glyphicon { padding-top: 25px; }
